@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');

:root {
    --brand: #5AB1B7; /* Color de la marca */
    --dark: #092032; /* Color oscuro principal */
    --body: hwb(210 32% 56%); /* Color principal del cuerpo */
    --border: rgba(0,0,0,0.08); /* Color para bordes */
    --shadow: 0px 6px 30px rgba(0, 0, 0, 0.11); /* Sombra genérica */
}

/* Estilos globales */
html, body {
    width: 100%; /* Asegura que el ancho del cuerpo del documento sea del 100% */
    overflow-x: hidden; /* Evita el desbordamiento horizontal */
    margin: 0;
    padding: 0;
}

body {
    font-family: "Barlow", sans-serif; /* Fuente principal */
    color: var(--body); /* Color del texto del cuerpo */
    line-height: 1.7; /* Altura de línea */
    overflow-x: hidden; /* Previene el desbordamiento horizontal */
}

.titulo1, .titulo2 {
    color: #4d969b;
    text-align: center;
    font-weight: 700;
    margin-bottom: 20px; /* Espaciado inferior */
    line-height: 1.2; /* Altura de línea */
    text-transform: capitalize; /* Capitaliza el texto */
}

.titulo1 {
    font-size: 2.5rem;
}

.titulo2 {
    font-size: 2rem;
}

/* Asegura que las imágenes se adapten al tamaño de su contenedor */
img {
    max-width: 100%; 
    height: auto;
}

/* Estilos para contenedores y columnas */
.container, .row, .col {
    max-width: 100%; /* Asegura que no se excedan los límites del contenedor */
}

/* Estilos para elementos con posición absoluta */
.elemento-absoluto {
    left: 0;
    right: 0;
}

/* Enlaces para mapas y teléfonos */
.map-link, .phone-link {
    text-decoration: none; /* Elimina subrayado de los enlaces */
    color: rgba(255, 254, 254, 0.938); /* Color del texto */
}

.map-link:hover, .phone-link:hover {
    text-decoration: none; /* Elimina subrayado al pasar el ratón */
    color: rgba(245, 245, 245, 0.637); /* Color del texto al pasar el ratón */
}

/* Sección "about" */
#about {
    padding: 80px 0; /* Espaciado superior e inferior */
}

.image-group {
    position: relative;
    text-align: center; /* Centra el contenido dentro del grupo */
}

.image-group img {
    width: 100%; 
    max-width: 400px; /* Ancho máximo para las imágenes */
    box-shadow: var(--shadow); /* Sombra de la imagen */
    margin-bottom: 15px; /* Espaciado inferior */
}

/* Estilo general para las secciones */
section {
    padding-top: 80px; /* Espaciado superior */
    padding-bottom: 80px; /* Espaciado inferior */
}

/* Estilo para texto con color de marca */
.text-brand {
    color: var(--brand) !important;
}

/* Estilos para el slider de héroes */
.hero-slider .lead {
    font-size: 1.25rem; /* Tamaño del texto principal */
    font-weight: 400;
}

.hero-slider h1, .hero-slider h2 {
    font-size: 2.5rem; /* Tamaño de los títulos */
    font-weight: 800;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 767px) {
    .hero-slider h1, .hero-slider h2 {
        font-size: 2rem; /* Ajuste para pantallas pequeñas */
    }

    .hero-slider .lead {
        font-size: 1rem; /* Tamaño del texto descriptivo en pantallas pequeñas */
    }

    #about .row {
        flex-direction: column; /* Cambia la disposición de las columnas a vertical */
        text-align: center; /* Asegura que el contenido esté centrado */
    }

    .image-group img {
        margin: 0 auto 20px auto; /* Centra la imagen y añade un margen inferior */
    }
}
/*seccion parent training */
#skillsets {
    padding: 60px 0;
    text-align: center;
}

#skillsets .section-title {
    font-size: 2.5rem;
    color: #4d969b;
    font-weight: 700;
    margin-bottom: 20px;
}

#skillsets .section-description {
    font-size: 1.1rem;
    color: #6c757d;
    max-width: 800px;
    margin: 0 auto 40px;
}

.skillset-card {
    padding: 30px;
    border-radius: 10px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(53, 47, 47, 0.1);
}
.skillset-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.blue-bg {
    background-color: #3196af98;
}

.red-bg {
    background-color: #9e5c7d96;
}

.yellow-bg {
    background-color: #ffc10785;
}

@media (max-width: 767px) {
    .skillset-card {
        font-size: 1rem;
        padding: 20px;
        height: 120px;
    }
}

@media (max-width: 575px) {
    .skillset-card {
        font-size: 0.9rem;
        height: 100px;
        padding: 15px;
    }
}

/* Contenedor de video responsivo */
.video-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* Crea una relación de aspecto 16:9 */
    overflow: hidden;
}

.video-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cubre el contenedor sin distorsionarse */
    z-index: 1;
    max-height: 100%; /* Asegura que el video no se estire más allá del contenedor */
}

/* Contenido superpuesto en el video */
.video-overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el contenido */
    text-align: center;
    z-index: 2; /* Asegura que esté por encima del video */
}

/* Estilos para los botones de navegación del slider */
.hero-slider .owl-prev, .hero-slider .owl-next {
    background-color: rgba(255, 255, 255, 0.3) !important;
    width: 60px !important;
    height: 60px !important;
    display: block;
    display: grid;
    place-items: center;
    color: #fff !important;
    border-radius: 100px;
    line-height: 0;
    position: absolute;
    top: 50%;
    font-weight: 600 !important;
    font-size: 12px !important;
    transition: all 0.4s ease;
    margin-top: -30px !important;
}

.owl-prev {
    left: 0;
}
.owl-next {
    right: 0;
}

/* Estilos al pasar el ratón sobre los botones de navegación */
.hero-slider .owl-prev:hover, .hero-slider .owl-next:hover {
    background-color: var(--brand) !important;
}

/* Estilos para los puntos de navegación activos */
.owl-dot.active span {
    background-color: var(--brand) !important;
}

/* Estilos para las slides */
.slide {
    min-height: 100vh; /* Altura mínima de la slide */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Estilos para la primera slide */
.slide1 {
    background: linear-gradient(rgba(0, 0, 0, 0.466), rgba(0, 0, 0, 0.4)), url(../img/skillindividualize.PNG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Estilos para la segunda slide */
.slide2 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/banner1x2.PNG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Estilos para los títulos en las slides */
.slide .display-3 {
    text-transform: uppercase;
    color: #fff;
    font-size: 2.5rem; /* Ajuste para pantallas más pequeñas */
}

/* Estilos para la barra de navegación superior */
.top-nav {
    background-color: var(--brand);
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Estilos para el texto dentro de la barra de navegación superior */
.top-nav p {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 10px;
}

.top-nav span, .top-nav i {
    vertical-align: middle;
}

/* Estilos para la barra de navegación inferior */
.navbar {
    box-shadow: var(--shadow); /* Sombra de la barra de navegación */
}

/* Estilos para los iconos de redes sociales */
.social-icons a {
    width: 28px;
    height: 28px;
    display: inline-flex;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.25);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

.social-icons a:hover {
    background-color: #fff;
    color: var(--brand);
}

/* Estilos para los enlaces de la barra de navegación */
.navbar .navbar-nav .nav-link {
    color: var(--dark);
}

.navbar .navbar-nav .nav-link:hover {
    color: var(--brand);
}

/* Estilos para los enlaces activos en la barra de navegación */
.navbar .navbar-nav .nav-link.active {
    color: var(--brand);
}

/* Estilos para la marca en la barra de navegación */
.navbar-brand {
    font-size: 1.5rem; /* Ajuste para pantallas pequeñas */
    font-weight: 100;
}

.navbar-brand img {
    height: 60px;
    background-color: rgba(255, 255, 255, 0.596); /* Fondo blanco semi-transparente */
    padding: 5px; /* Espacio alrededor del logo */
    border-radius: 5px; /* Bordes redondeados */
}

/* Estilo para el texto de la marca */
.brand-text {
    font-size: 1.5rem; /* Tamaño del texto */
    font-weight: 600; /* Grosor del texto */
    color: var(--brand); /* Color usando la variable de la paleta */
    text-transform: uppercase; /* Texto en mayúsculas */
    margin-left: 10px; /* Separación del logo */
}

/* Ajuste adicional para pantallas más grandes */
@media (min-width: 768px) {
    .brand-text {
        font-size: 1.75rem; /* Ajuste de tamaño para pantallas medianas */
    }

    .navbar-brand img {
        height: 60px;
        width: 150px;
    }
}

@media (min-width: 1024px) {
    .brand-text {
        font-size: 2rem; /* Ajuste de tamaño para pantallas grandes */
    }

    .navbar-brand img {
        height: 80px;
        width: 200px;
    }
}

/* Estilos para botones */
.btn {
    padding: 8px 26px;
    font-size: 1rem; /* Ajuste del tamaño de la fuente */
    margin-right: 10px; /* Añadir margen derecho a los botones */
}

/* Estilos para botones con la clase "btn-brand" */
.btn-brand {
    border-color: var(--brand);
    background-color: var(--brand);
    color: #fff;
}

.btn-brand:hover {
    background-color: #F9D585;
    border-color: #B3E7CC;
    color: #fff;
}

/* Estilos para la sección de introducción */
.intro {
    margin-bottom: 36px;
    text-align: center;
}

.intro p {
    max-width: 500px;
    margin: auto;
}

.intro h1 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 2rem; /* Ajuste para pantallas pequeñas */
}

/* Estilos para los cuadros de información */
.info-box {
    align-items: center;
    display: flex;
}

.info-box img {
    width: 200px;
}

/* Estilos para la sección de hitos */
#milestone {
    background: linear-gradient(rgba(37, 102, 97, 0.247), rgba(41, 172, 165, 100)), url(../img/banner1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#milestone h1, #milestone p {
    color: #fff;
}

/* Estilos para los servicios */
.service {
    padding: 32px;
    background-color: #fff;
    box-shadow: var(--shadow);
}

.service h5 {
    margin-top: 24px;
    margin-bottom: 14px;
}

.service img {
    width: 100%; /* Ajuste para pantallas pequeñas */
    height: auto;
}

/* Estilos para la sección "Natural Environment Teaching" */
#natural-environment-teaching {
    padding: 60px 0;
}

.section-title {
    color: #5AB1B7; /* Color personalizado */
    font-weight: 700;
    margin-bottom: 20px;
}

/* Estilos para imágenes en la sección "Natural Environment Teaching" */
#natural-environment-teaching img {
    width: 100%;
    height: auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil para darle profundidad a la imagen */
    border-radius: 8px; /* Esquinas redondeadas */
}

/* Estilos para los párrafos en la sección "Natural Environment Teaching" */
#natural-environment-teaching p {
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
}

/* Estilos para la sección de proyectos */
.project {
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.project h3 {
    font-weight: 300;
    color: #fff;
}

/* Estilos para el subtítulo de los proyectos */
.project h6::before {
    content: "";
    height: 2px;
    width: 30px;
    display: inline-block;
    background: var(--brand);
    vertical-align: middle;
    margin-right: 10px;
}

/* Estilos para la superposición en los proyectos */
.project .overlay {
    width: 100%;
    height: 220px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(255, 76, 41, 0) 0%, var(--dark) 100%);
}

/* Estilos para el contenido en los proyectos */
.project .content {
    position: absolute;
    left: 10%;
    bottom: 10%;
}

.project h2, .project h6 {
    color: #fcfcfc;
}

/* Estilos para imágenes en el slider de proyectos */
#projects-slider .project img {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: 300px; /* Establece una altura fija para todas las imágenes */
    object-fit: cover; /* Escala y recorta la imagen para llenar el contenedor sin distorsionarse */
    object-position: center; /* Centra la imagen en caso de recorte */
    border-radius: 8px; /* Opcional: esquinas redondeadas */
}

/* Estilos para los cuadros con números */
.number-box {
    font-size: 2rem;
    color: #38b2bb; /* Color del número */
    font-weight: 700;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.number-box span {
    display: inline-block;
    padding: 15px;
    background-color: #fcfeff54; /* Fondo del número */
    border-radius: 50%;
    width: 60px; /* Ajusta el tamaño según lo necesites */
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos para la sección "ABA Techniques" */
#aba-techniques {
    padding: 60px 0;
}

/* Estilos para el encabezado de introducción en "ABA Techniques" */
#aba-techniques .intro h1 {
    color: #5AB1B7; /* Color personalizado */
    font-weight: 700;
    margin-bottom: 20px;
}

/* Estilos para la lista de técnicas */
.techniques-list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    display: flex; /* Flexbox para centrar */
    flex-direction: column; /* Organiza los elementos en columna */
    align-items: center; /* Centra horizontalmente los elementos */
}

/* Estilos para los elementos de la lista de técnicas */
.techniques-list li {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
    position: relative;
    padding-left: 0; /* Elimina padding izquierdo */
    text-align: left;
    display: flex; /* Flexbox para alinear el icono y el texto */
    align-items: center; /* Centra verticalmente el icono y el texto */
    justify-content: center; /* Centra el contenido de cada li */
}

/* Estilos para el símbolo de verificación en la lista de técnicas */
.techniques-list li::before {
    content: '\2713'; /* Símbolo de verificación */
    color: #52b7c9e8; /* Color del símbolo */
    font-size: 1.5rem;
    margin-right: 10px; /* Espacio entre el icono y el texto */
}

/* Estilos para la descripción de técnicas */
.description {
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
    margin-top: 20px;
}

/* Estilos para la sección de reseñas */
#reviews {
    background: linear-gradient(-90deg, rgba(8, 32, 50, 0.8), rgba(8, 32, 50, 0.8)), url(../img/bg_banner1.jpg), #082032;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.review {
    text-align: center;
    z-index: 2;
    position: relative;
    margin: 15px;
    max-width: 768px;
    margin: auto;
}

/* Estilos para el icono de comillas en las reseñas */
.review .bxs-quote-alt-left {
    font-size: 120px;
    position: absolute;
    opacity: 0.1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

/* Estilos para la imagen del autor de la reseña */
.review img {
    width: 80px !important;
    height: 80px;
    border-radius: 100px;
    margin: auto;
}

/* Estilos para el nombre del autor de la reseña */
.review h5 {
    margin-top: 16px;
    margin-bottom: 4px;
    color: #fff;
}

/* Estilos para el contenido de la reseña */
.review h3 {
    margin-top: 26px;
    margin-bottom: 26px;
    font-size: 22px;
    color: #fff;
    font-weight: 400;
    line-height: 1.7;
}

.review small {
    color: var(--brand);
}

/* Estilos para las estrellas en la reseña */
.review .stars {
    color: var(--brand);
}

/* Estilos para la sección de blog */
.blog-post {
    position: relative;
    background-color: #fff;
    box-shadow: var(--shadow);
}

.blog-post .content {
    padding: 32px;
}

/* Estilos para enlaces en las publicaciones del blog */
.blog-post a {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: var(--brand);
    padding: 2px 12px;
    border-radius: 100px;
    text-decoration: none;
    color: #fff;
}

/* Estilos para los encabezados del blog */
.blog-post h5 {
    margin-top: 12px;
    margin-bottom: 12px;
}

/* Estilos para el texto pequeño en el blog */
.blog-post small {
    text-transform: uppercase;
    color: var(--brand);
    text-decoration: underline;
}

/* Estilos para el pie de página */
footer {
    background: linear-gradient(0deg, rgba(80, 204, 198, 0.568), rgba(8, 32, 50, 0.9)), url(../img/hero4.PNG), rgb(28, 197, 197);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Estilos para la parte superior del pie de página */
footer .footer-top {
    padding-top: 80px;
    padding-bottom: 40px;
}

/* Estilos para la parte inferior del pie de página */
.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 20px;
    padding-top: 20px;
}

/* Estilos para la marca en el pie de página */
footer .navbar-brand {
    color: #fff;
}

/* Estilos para el texto en el pie de página */
footer p {
    color: #e4e6e7;
}

/* Estilos para los iconos sociales en el pie de página */
footer .social-icons a {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin-left: 4px;
    margin-right: 4px;
}

/* Estilos para el loader (cargando) */
.loader {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(58, 188, 192, 0.89);
    z-index: 99999;
    position: fixed;
    left: 0;
    right: 0;
}

/* Estilos para formularios */
input.form-control {
    border-color: transparent;
    height: 44px;
}

.form-group {
    margin-bottom: 1rem;
}

.btn-group {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.btn-group .btn {
    flex: 1;
    margin-right: 10px;
}

.btn-group .btn:last-child {
    margin-right: 0;
}

.modal-body .form-control,
.modal-body textarea {
    margin-bottom: 15px;
}

/* Estilos responsivos generales */
@media (max-width: 767px) {
    body {
        font-size: 0.875rem;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: calc(1.3rem + 0.6vw);
    }

    p {
        font-size: 0.9rem;
    }

    .navbar-brand {
        font-size: 1.5rem;
    }

    .navbar-nav .nav-link {
        padding: 0.5rem 1rem;
    }

    .top-nav .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .top-nav .social-icons {
        margin-top: 10px;
    }

    .slide .display-3 {
        font-size: 2rem;
    }

    .slide .btn {
        padding: 10px 20px;
        font-size: 0.875rem;
    }

    #about .row {
        flex-direction: column;
    }

    .service img {
        width: 100%;
        height: auto;
    }

    .service h5 {
        font-size: 1.5rem;
    }

    .service p {
        font-size: 0.9rem;
    }

    #projects-slider .project {
        margin-bottom: 20px;
    }

    #projects-slider .project h2 {
        font-size: 1.5rem;
    }

    #projects-slider .project h3 {
        font-size: 1rem;
    }

    footer .footer-top {
        padding: 40px 0;
    }

    .footer-bottom p {
        font-size: 0.9rem;
    }

    footer .social-icons a {
        margin: 5px;
        width: 40px;
        height: 40px;
        font-size: 1.2rem;
    }

    /* Ajusta el tamaño del logo en pantallas pequeñas */
    .navbar-brand img {
        height: 60px;
    }

    footer .navbar-brand {
        font-size: 1.2rem;
    }

    footer p {
        font-size: 0.9rem;
        margin: 0 10px; /* Ajusta los márgenes para darle más espacio al texto */
    }

    .footer-top .navbar-brand {
        white-space: normal; /* Permite que el texto haga un salto de línea si es necesario */
    }
}

footer .footer-top .container {
    max-width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
    overflow: visible; /* Asegura que el contenido no se corte */
}

.navbar-brand {
    white-space: normal; /* Permite saltos de línea para evitar que el texto se corte */
}

@media (max-width: 767px) {
    .footer-top .social-icons a {
        margin: 0 5px; /* Ajusta el margen entre los íconos para ahorrar espacio */
    }

    .footer-bottom p {
        font-size: 0.8rem;
    }
}

.btn-group .btn {
    flex: 1;
    padding: 8px 12px; /* Ajuste de padding para mejorar el espaciado */
}

.btn-group .btn + .btn {
    margin-left: 10px; /* Añade un espacio entre los botones */
}

.btn-group .btn {
    display: block;
    text-align: center;
}
